
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h2>AccessDenied</h2>

<div class="container">
    <div>
        please Log in as a customer to schedule an appointment with this company
    </div>
</div>