@model Capstone.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}
@*@{
        var imgSrc = "Hello";
        if (Model.Comp. != null)
        {
            var base64 = Convert.ToBase64String(Model.EventPicture);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
        else
        {
            imgSrc = "https://images.pexels.com/photos/534031/pexels-photo-534031.jpeg";
        }

    }*@
<div class="container not"  style="text-align:center;margin-top:5%;background-color:lightgray">
    <div>
        <img src="~/images/logo_transparent.png" style="height:600px" id="animate-area" />
    </div>
</div>
<div class="container not" id="firstCont" style="text-align:center;background-image:url('images/home1.jpg'); height: 600px; background-size:cover">
    <div class="col-sm-12" style="margin-top:20%">
        <h2 style="font-family:'Sitka Small';background-color:transparent;text-align:left">
            Design a Website that meets your needs in a free, fast, and simple way
        </h2>
    </div>
</div>
<div class="container not" style="text-align:center;background-image:url('images/home4.jpg'); height:600px; background-size:cover">
    <div class="col-xs-12" style="margin-top:20%">
        <h3 style="font-family:'Sitka Small';background-color:transparent">
            Make a free webpage with little to no effort
        </h3>
    </div>
</div>
<div class="container not" style="text-align:center;background-image:url('images/home2.jpg'); height:600px; background-size:cover">
    <div class="col-xs-12" style="margin-top:20%">
        <h3 style="font-family:'Sitka Small';background-color:transparent;text-align:center">
            Allow your clients to schedule appointments or services hassle free
        </h3>
    </div>
</div>
<div class="container not" style="text-align:center;background-image:url('images/home3.jpg'); height:600px; background-size:cover">
    <div class="col-xs-12" style="margin-top:20%">
        <h3 style="font-family:'Sitka Small';background-color:transparent">
            Go Premium and utilize special features like scheduling, Google maps, and Twitter
        </h3>
    </div>
</div>
<style>
    .not {
        -webkit-filter: brightness(40%);
    }

    .is {
        -webkit-filter: brightness(100%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

   #animate-area {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-direction: alternate;
}

@@keyframes fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
</style>
<script src="~/js/site.js"></script>

<script>
    var animateHTML = function () {
        var elems;
        var windowHeight;
        function init() {
            elems = document.querySelectorAll('.not');
            windowHeight = window.innerHeight;
            addEventHandlers();
            checkPosition();
        }
        function addEventHandlers() {
            window.addEventListener('scroll', checkPosition);
            window.addEventListener('resize', init);
        }
        function checkPosition() {
            for (var i = 0; i < elems.length; i++) {
                var positionFromTop = elems[i].getBoundingClientRect().top;
                if (positionFromTop - windowHeight <= -200) {
                    elems[i].className = elems[i].className.replace(
                        'not',
                        'is'
                    );
                }
                else {
                    elems[i].className = elems[i].className.replace(
                    'is',
                    'not'
                    )
                }
            }
        }
        return {
            init: init
        };
    };
    animateHTML().init();
</script>