
@{
    ViewData["Title"] = "ContactInitialSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContactInitialSetup</h2>
@using (Html.BeginForm())
{
<div class="container">
    <div id="intro">
        <p>
            ALright lets get the layout of your Contact page set up
        </p>
    </div>
    <div id="navTag">
        <p>
            First, what would you like your Contact page to be called on your navBar?
            <div class="form-control">
                <input type="text" name="navTag" />
            </div>
        </p>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
</div>
}
