@model Capstone.Models.ContactViewModel
@{
    ViewData["Title"] = "ContactPage";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h2>ContactPage</h2>

<div class="container">
    <div class="row">
        @{
            foreach (var cont in Model.Containers)
            {
                var contImg = "";
                if (cont.Image != null)
                {
                    var base64 = Convert.ToBase64String(cont.Image);
                    contImg = String.Format("data:image/gif;base64,{0}", base64);
                    <div class="col-sm-12" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                }
                else
                {
                    <div class="col-sm-12" style="background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                }
            }
        }
    </div>
</div>
