@model Capstone.Models.Company
@{
    ViewData["Title"] = "ChargeConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Confirmed</h2>
@using (Html.BeginForm())
{

<div class="container">
    <h1>
        Thank you for your payment.
    </h1>
    <button type="submit" class="btn btn-primary">Continue</button>
</div>
}