@model Capstone.Models.SetupViewModel
@{
    ViewData["Title"] = "SetUpSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<h2>Scheduler</h2>
<div class="container" style="color:white;text-align:center">

    <div>
        <h5>
            Customers can now schedule appointments with you.
        </h5>
    </div>
    <div style="margin-top:5%">
        <h8>
            First, What would you like to the name of the schedule page to appear on your navbar as?<br />
        </h8>
        <input style="color:black" type="text" name="navTag" />
    </div>
    <div style="margin-top:5%">
        <h8>
            Next, what type of appointments will the customer be scheduling?<br />
        </h8>
        <input style="color:black" type="text" name="Type" />
    </div>
    <div style="margin-top:5%">
        @Html.HiddenFor(x => x.Scheduler.Id)
        @Html.HiddenFor(x => x.Comp.Id)
        <input type="submit" class="btn btn-primary"/>
    </div>
</div>
}